*{
    margin: 0;
}
.images{

    background-image:url('office.27bb9079.jpg');
    /* width: auto; */
    height: 70vw;
    max-height: 650px;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    background-color: #fff;
    padding: 30px !important;
    border-radius: 12px !important;
    width: 310px !important;
    margin-top: 100px;
    margin-left: 75px;
 
   
}
.title{
    font-size: 2rem !important;
    font-weight: 700 !important;
    color: #000;
}
.btn{
    width: 100%;
    margin-top: 10px !important;
    color:#fff !important;
    background-color: #012B72 !important;
    cursor: pointer;
    margin-bottom: 20px;
    height: 50px;
}
.select{
    margin-top: 10px !important;
}
.jobs{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    height: 140px !important;
    overflow:hidden;
}
.box{
    width: 60% !important;
    height: 60%;
    transition: all .1s ease-in-out;
    border-width: 1px;
    background-color: #fff;
    cursor: pointer;
    margin-left:20px ;
    border-radius: 8px !important;
   
   
}
.jobs-image{
    height: 30px;
    width: 30px;
    margin: 20px;
}
.jobs-title{
    align-items: center !important;
}
.bannerTwo-image{
    height: 28vw;
    margin-right: 0%;
}
.card-image{
    margin: 10px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.card-style{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin: 10px !important;
}
.card-style-price{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: red;
    margin: 10px !important;
}
.card-style-explore{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:blue;
    margin: 10px !important;
    display: flex;
    
}

.card-header{
    display: flex;
    justify-content: space-between;
}
.appBar{
    display:'flex';
    position:'fixed';
    justify-content: space-between;
    background-color:white  !important;
    color: blue !important;
   
}
.app-text{
    display: flex;
    min-width: 160px;
    max-width: 160px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: contain;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.header{
    display: flex;
    justify-content: space-between;
   
    margin-left: 20px !important;
}
.btns{
    color: blue !important;
}
